<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".SensorActivity"
            android:exported="false" />
        <activity
            android:name=".taco.TacoActivity"
            android:exported="false" />
        <activity
            android:name=".database.DataBaseActivity"
            android:exported="false" />
        <activity
            android:name=".launcher.LauncherMainActivity"
            android:exported="false" />
        <activity
            android:name=".planetas.PlanetaAdapterRecyclerView"
            android:exported="false" />
        <activity
            android:name=".planetas.MainListagem"
            android:exported="false" />
        <activity
            android:name=".paint.Paint"
            android:exported="false" />
        <activity
            android:name=".ListActivity9"
            android:exported="false" />
        <activity
            android:name=".ListActivity8"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivityHome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>